%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          = img "../images/speakers/PeterStern.jpg"
          %a{:href=>"https://twitter.com/peterstern", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Peter Stern
        %p Datek, Zenbe, Bit.ly

      %li.speaker
        .rounded
          = img "../images/speakers/CassieLancellottiYoung.jpg"
          %a{:href=>"https://twitter.com/sailthru", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Cassie Lancellotti-Young
        %p Sailthru

      %li.speaker
        .rounded
          = img "../images/speakers/JohnBiggs.jpg"
          %a{:href=>"https://twitter.com/johnbiggs", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 John Biggs
        %p TechCrunch, New York Times

      %li.speaker
        .rounded
          = img "../images/speakers/VivekSharma.jpg"
          %a{:href=>"https://twitter.com/movableink", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Vivek Sharma
        %p Movable Ink

      %li.speaker
        .rounded
          = img "../images/speakers/MattKeiser.jpg"
          %a{:href=>"https://twitter.com/mrkeiser", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Matt Keiser
        %p Liveintent

      %li.speaker
        .rounded
          = img "../images/speakers/RachelSklar.jpg"
          %a{:href=>"https://twitter.com/rachelsklar", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Rachel Sklar
        %p theli.st

      %li.speaker
        .rounded
          = img "../images/logos/gilt.jpg"
          %a{:href=>"https://twitter.com/sschneids", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 GILT
        %br

      %li.speaker
        .rounded
          = img "../images/speakers/DanFrommer.jpg"
          %a{:href=>"https://twitter.com/fromedome", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Dan Frommer
        %p SplatF, City Notes, Business Insider

      %li.speaker
        .rounded
          = img "../images/speakers/AmandaHesser.jpg"
          %a{:href=>"https://twitter.com/amandahesser", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Amanda Hesser
        %p Food52

      %li.speaker
        .rounded
          = img "../images/speakers/AnilDash.jpg"
          %a{:href=>"https://twitter.com/anildash", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Anil Dash
        %p ThinkUp

      %li.speaker
        .rounded
          = img "../images/speakers/AmolSarva.jpg"
          %a{:href=>"https://twitter.com/amol", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Amol Sarva
        %p Peek, Virgin Mobile USA

      %li.speaker
        .rounded
          = img "../images/speakers/BenLerer.jpg"
          %a{:href=>"https://twitter.com/benjlerer", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Ben Lerer
        %p JackThreads, Thrillist

      %li.speaker
        .rounded
          = img "../images/speakers/DaveTroy.jpg"
          %a{:href=>"https://twitter.com/davetroy", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Dave Troy
        %p 410 Labs

      %li.speaker
        .rounded
          = img "../images/logos/FrancisLobo.jpg"
          %a{:href=>"https://twitter.com/aol", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Francis Lobo
        %p AOL

      %li.speaker
        .rounded
          = img "../images/speakers/VanessaLiu.jpg"
          %a{:href=>"https://twitter.com/vanessawliu", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Vanessa Liu
        %p Trigger Media
      
      %li.speaker
        .rounded
          = img "../images/speakers/AndyRussell.jpg"
          %a{:href=>"https://twitter.com/AndrewARussell", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Andy Russell
        %p DailyCandy, Thrillist

      %li.speaker
        .rounded
          = img "../images/speakers/ScottKurnit.jpg"
          %a{:href=>"https://twitter.com/kurnit", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Scott Kurnit
        %p TheSwizzle.com

      %li.speaker
        .rounded
          = img "../images/speakers/KevinDelaney.jpg"
          %a{:href=>"https://twitter.com/kevinjdelaney", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Kevin Delaney
        %p Quartz

      %li.speaker
        .rounded
          = img "../images/speakers/JohnCaplan.jpg"
          %a{:href=>"https://twitter.com/johncaplan", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 John Caplan
        %p OpenSky

      %li.speaker
        .rounded
          = img "../images/speakers/MattBellows.jpg"
          %a{:href=>"https://twitter.com/mbellows", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Matt Bellows
        %p Yesware

      %li.speaker
        .rounded
          = img "../images/speakers/NeilVogel.jpg"
          %a{:href=>"https://twitter.com/neilvogel", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Neil Vogel
        %p Netted, About.com

      %li.speaker
        .rounded
          = img "../images/speakers/RobCiccone.jpg"
          %a{:href=>"https://twitter.com/robciccone", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Rob Ciccone
        %p American Express

      %li.speaker
        .rounded
          = img "../images/speakers/EldarSadikov.jpg"
          %a{:href=>"https://twitter.com/elversatile", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Eldar Sadikov
        %p Jetlore

      %li.speaker
        .rounded
          = img "../images/speakers/DeanLevitt.jpg"
          %a{:href=>"https://twitter.com/madmimi", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Dean Levitt
        %p Mad Mimi

      %li.speaker
        .rounded
          = img "../images/speakers/ZviBand.jpg"
          %a{:href=>"https://twitter.com/skeevis", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Zvi Band
        %p Contactually

      %li.speaker
        .rounded
          = img "../images/speakers/AlexMoore.jpg"
          %a{:href=>"https://twitter.com/awmoore", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Alex Moore
        %p Baydin
