%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          = img "../images/speakers/PeterStern.jpg"
          %a{:href=>"https://twitter.com/peterstern", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Peter Stern
        %p Datek, Zenbe, Bit.ly

      %li.speaker
        .rounded
          = img "../images/speakers/NeilCapel.jpg"
          %a{:href=>"https://twitter.com/neiljcapel", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Neil Capel
        %p Sailthru

      %li.speaker
        .rounded
          = img "../images/speakers/JohnBiggs.jpg"
          %a{:href=>"https://twitter.com/johnbiggs", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 John Biggs
        %p TechCrunch, New York Times

      %li.speaker
        .rounded
          = img "../images/speakers/VivekSharma.jpg"
          %a{:href=>"https://twitter.com/movableink", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Vivek Sharma
        %p Movable Ink

      %li.speaker
        .rounded
          = img "../images/speakers/MattKeiser.jpg"
          %a{:href=>"https://twitter.com/mrkeiser", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Matt Keiser
        %p Liveintent

      %li.speaker
        .rounded
          = img "../images/logos/gilt.jpg"
          %a{:href=>"https://twitter.com/sschneids", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 GILT
        %br

      %li.speaker
        .rounded
          = img "../images/speakers/DanFrommer.jpg"
          %a{:href=>"https://twitter.com/fromedome", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Dan Frommer
        %p SplatF, City Notes, Business Insider

      %li.speaker
        .rounded
          = img "../images/speakers/AnilDash.jpg"
          %a{:href=>"https://twitter.com/anildash", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Anil Dash
        %p ThinkUp

      %li.speaker
        .rounded
          = img "../images/logos/outlook.jpg"
          %a{:href=>"https://twitter.com/outlook", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Outlook.com
        %br

      %li.speaker
        .rounded
          = img "../images/speakers/AmolSarva.jpg"
          %a{:href=>"https://twitter.com/amol", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Amol Sarva
        %p Peek, Virgin Mobile USA

      %li.speaker
        .rounded
          = img "../images/speakers/BenLerer.jpg"
          %a{:href=>"https://twitter.com/benjlerer", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Ben Lerer
        %p JackThreads, Thrillist

      %li.speaker
        .rounded
          = img "../images/speakers/DaveTroy.jpg"
          %a{:href=>"https://twitter.com/davetroy", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Dave Troy
        %p 410 Labs

      %li.speaker
        .rounded
          = img "../images/logos/aol.jpg"
          %a{:href=>"https://twitter.com/aol", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 AOL
        %br

      %li.speaker
        .rounded
          = img "../images/speakers/VanessaLiu.jpg"
          %a{:href=>"https://twitter.com/vanessawliu", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Vanessa Liu
        %p Trigger Media
      
      %li.speaker
        .rounded
          = img "../images/speakers/AndyRussell.jpg"
          %a{:href=>"https://twitter.com/AndrewARussell", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Andy Russell
        %p DailyCandy, Thrillist

      %li.speaker
        .rounded
          = img "../images/speakers/ScottKurnit.jpg"
          %a{:href=>"https://twitter.com/kurnit", :class=>"twitter", :target=>"_blank"}= img "../images/twitter.png"
        %h2 Scott Kurnit
        %p Keep.com, TheSwizzle.com

      %li.speaker
        .rounded
          = img "../images/logos/quartz.jpg"
        %h2 Quartz
        %p
