%section#speakers
  .wrapper
    %h1.heading
      %a{:name=>"speakers"}
      %span Speakers

    %ul
      %li.speaker
        .rounded
          = img "../images/speakers/konstantin.jpg"
          %a{:href=>"https://twitter.com/konstantinhaase", :class=>"twitter"}= img "../images/twitter.png"
        %h2
          Konstantin Haase
        %p Ruby: Where Are You Going?

      %li.speaker
        .rounded
          = img "../images/speakers/renee.jpg"
          %a{:href=>"https://twitter.com/gigglegirl4e", :class=>"twitter"}= img "../images/twitter.png"
        %h2
          Renée De Voursney
        %p Teaching Ruby for Fun and Profit!

      %li.speaker
        .rounded
          = img "../images/speakers/danishkhan.jpeg"
          %a{:href=>"https://twitter.com/danishkhan", :class=>"twitter"}= img "../images/twitter.png"
        %h2
          Danish Khan
        %p Don't Be an A**hole
